/* Import custom font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS reset */
* {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    outline: none;
}


/* Set flex to body and all containers */
body,
.main-container,
.score-container,
.game-container,
.select-rps-container {
    display: flex;
}

/* Basic layout and sizing */
body {
    min-height: 100vh;

    justify-content: center;
    align-items: center;
    
    overflow: hidden;
    background: #2e3944;
}

.main-container {
    width: 44%;
    min-height: 90vh;

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    border: none;
    border-radius: 24px;

    background: #9fc5cc;
}

.main-container img {
    user-select: none;
}

.game-container {
    width: 100%;
    height: 40%;

    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.game-container p {
    font-weight: bold;
    font-size: 1.4rem;
}

.score-container {
    flex-direction: column;

    text-align: center;
    background: #124e66c0;
    
    border: 1px solid;
    border-radius: 24px;

    width: 50%;
    height: 200px;
}

.score-container p {
    max-height: 50%;
    font-size: 2rem;
    font-weight: bold;
}

.score-container h2 {
    max-height: 25%;
    margin-bottom: 0;
    padding-inline: 12px;
}

.select-rps-container {
    width: 100%;

    justify-content: space-evenly;   
}

.select-rps-container button {
    border: 2px solid rgba(66, 117, 162, 0.844);
    border-radius: 50%;

    padding: 1.2rem;
    background: rgba(66, 117, 162, 0.750);

    cursor: pointer;
}

.select-rps-container .choice-img {
    width: 80px;
    height: 80px;
}

.display-choice-img {
    width: 120px;
    height: 120px;
}

.game-container .default-img {
    width: 60px;
    height: 80px;
}

.btn-restart-wrapper,
.btn-restart-wrapper #btnRestart {
    width: 100%;
    height: 80%;

    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;

    border: none;
}

.btn-restart-wrapper {
    background: rgb(20, 153, 179);
    border-top: 1px solid;
}

.btn-restart-wrapper #btnRestart {
    background: none;
    cursor: pointer;

    font-size: 1.4rem;
    font-weight: bold;
}


/* Medium screens */
@media screen and (min-width: 440px) and (max-width: 924px) {
    .main-container {
        width: 80%;
    }

    .score-container {
        width: 80%;
    }
}

/* Mobile screens */
@media (max-width: 475px) {
    .main-container {
        min-height: 88vh;
        width: 100%;
    }

    .game-container {
        height: 24%;
    }

    .game-container .default-img {
        width: 60px;
        height: 80px;
    }

    .score-container {
        width: 80%;
    }

    .score-container h2 {
        font-size: 1.3rem;
    }

    .select-rps-container button {
        padding: 0.8rem;
        margin: 0.4rem;
    }
}